<!-- Add jQuery library -->
<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/dist/jquery.fancybox.min.css" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/dist/jquery.fancybox.min.js"></script>

<script type="text/javascript">
var isValidImage = /(png|svg)$/i;
$('td a:odd').each(function() {
    if (isValidImage.test($(this).attr('href'))) {
        var title = $(this).attr('href').replace(/(.*\/)?(.*)$/, '$2');
        $(this).attr('data-fancybox','images').attr('title', title);
        $(this).attr('data-thumb', $(this).attr('href')).attr('title', title);
        $(this).after("<br><a href='" + this + "' data-fancybox=images2><img style='max-width:300px;max-height:120px;margin-left: 10px;border: 1px solid #ccc;' src=" + this + "></a>");
    }
});

$('[data-fancybox="images"]').fancybox({
    loop : true,
    transitionDuration : 100,
    animationDuration : 500,
    animationEffect : "fade",
    buttons : [
        'slideShow',
        //'fullScreen',
        'thumbs',
        //'share',
        'download',
        //'zoom',
        'close'
    ],
    slideShow : {
        autoStart : false,
        speed     : 3000,
    },
    thumbs : {
	autoStart : true
    },
    touch: false,
});

$('[data-fancybox="images2"]').fancybox({
    loop : true,
    transitionDuration : 100,
    animationDuration : 500,
    animationEffect : "fade",
    buttons : [
        'slideShow',
        //'fullScreen',
        'thumbs',
        //'share',
        'download',
        //'zoom',
        'close'
    ],
    slideShow : {
        autoStart : false,
        speed     : 3000,
    },
    thumbs : {
        autoStart : true
    },
    touch: false,
});

</script>
